quarkus:
  http:
    port: 8080
  datasource:
    db-kind: postgresql
    username: notification
    password: notification
    jdbc:
      url: jdbc:postgresql://localhost:5432/notification
  hibernate-orm:
    database:
      generation: none
    log:
      sql: false
  flyway:
    migrate-at-start: true
    baseline-on-migrate: true

  log:
    category:
      "com.basit.cz.notification":
        level: DEBUG

  # Kafka (for later step)
  messaging:
    kafka:
      devservices:
        enabled: false

  smallrye-openapi:
    path: /q/openapi

# Kafka channels (used in step 9)
mp:
  messaging:
    incoming:
      notification-events:
        connector: smallrye-kafka
        topic: notification-events
        value.deserializer: org.apache.kafka.common.serialization.StringDeserializer
        bootstrap.servers: localhost:9092

# Novu REST client
quarkus:
  rest-client:
    novu-api:
      url: https://api.novu.co
      scope: jakarta.inject.Singleton

# Our own config for Novu
novu:
  api-key: ${NOVU_API_KEY:CHANGE_ME}
  workflow:
    # mapping from internal event types to Novu "trigger identifier"
    order-shipped: order-shipped-workflow
